@keyframes slideInUp {

  from {
    display: none;
    transform: translate3d(100%, 0, 0);
  }

  to {
    display: block;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {

  from {
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

@keyframes zoomOut {

  from {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.ImagesDisplay {

  display: flex;
  flex-flow: row wrap;
  margin: 0.25rem 0.75rem 05rem 1rem;
  width: calc(100% - 1.5rem);
}

.ImagesDisplay-loadingOverlay {

  backdrop-filter: blur(0.625rem);
  background-color: var(--dark-transparent-overlay-color);
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.ImagesDisplay-photoContainer {

  background-color: #333;
  border-radius: 0.3125rem;
  color: white;
  flex: auto;
  height: 15.625rem;
  margin: 0 0.5rem 0.5rem 0;
  min-width: 9.375rem;
  overflow: hidden;
  position: relative;
}

.ImagesDisplay-photoContainer:nth-child(4n+1) {
  width: 15.625rem;
}

.ImagesDisplay-photoContainer:nth-child(4n+1):nth-child(4n+2) {
  width: 20.3125rem;
}

.ImagesDisplay-photoContainer:nth-child(4n+1):nth-child(4n+3) {
  width: 11.25rem;
}

.ImagesDisplay-photoContainer:nth-child(4n+1):nth-child(4n+4) {
  width: 23.75rem;
}

.ImagesDisplay-photoContainer.is-zoomOut {
  animation: 0.3s zoomOut ease-out;
}

.ImagesDisplay-photo,
.ImagesDisplay-photo--isAnimating {

  filter: brightness(50%);
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
  width: 100%;
}

.ImagesDisplay-photo:hover {

  animation: 0.5s zoomIn ease-out;
  filter: brightness(100%);
  transform: scale3d(1.2, 1.2, 1.2);
}

.ImageDisplay-title {

  background: rgb(0, 0, 0, 0.5);
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  z-index: 10;
}

.ImageDisplay-lastImage {

  align-items: center;
  display: flex;
  font-family: var(--primary-font-family);
  height: 2.5rem;
  justify-content: center;
  margin: 0.5rem;
  width: 100%;
}

@media (--iphone-x-viewport) {

  .ImagesDisplay {

    margin: 0.625rem 0.75rem 0.5rem 1rem;
  }
}

@media (--sm-viewport) {

  .ImagesDisplay {

    margin: 0.625rem 0.75rem 0.5rem 1rem;
  }
}
