.App-content {

  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  margin-top: 64px;
  overflow: scroll;
}

.App-content-loadingOverlay {

  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  height: calc(100% - 64px);
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.App-content--loading {
  filter: blur(5px);
}

.App-progress {
  height: 75px !important;
  width: 75px !important;
}

@media (--iphone-x-viewport) {

  .App-content {
    margin-top: 5px;
  }
}
