.ImagePreview {

  align-items: center;
  background: transparent;
  display: flex;
  height: calc(100vh - var(--md-header-height));
  justify-content: center;
  overflow: scroll;
}

.ImagePreview-backNav,
.ImagePreview-forwardNav {

  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 4rem;
  z-index: 10;
}

.ImagePreview-backNav {
  left: 0;
}

.ImagePreview-forwardNav {
  right: 0;
}

.ImagePreview-drawer div[role=document] {
  background-color: transparent;
}

.ImagePreview-drawer > div:nth-child(1) {
  top: var(--md-header-height);
}

.ImagePreview-photo {

  height: auto;
  max-width: 100%;
  max-width: 100%;
  width: auto;
}

.ImagePreview-buttonContainer {

  bottom: 1.5625rem;
  color: var(--dark-transparent-overlay-color);
  font-family: var(--primary-font-family);
  left: auto;
  position: absolute;
  right: auto;
  z-index: 11;
}

.ImagePreview-backNav button,
.ImagePreview-forwardNav button {

  background-color: var(--semi-dark-transparent-overlay-color);
  border-radius: 0;
  color: white;
  filter: drop-shadow(0.75rem 0.75rem 0.4375rem rgba(0, 0, 0, 0.7));
}

.ImagePreview-buttonContainer svg {

  font-size: var(--s-icon-font-size);
}

.ImagePreview-backNav button svg,
.ImagePreview-forwardNav button svg {

  font-size: var(--m-icon-font-size) !important;
}

@media (--iphone-x-viewport) {

  .ImagePreview-drawer > div:nth-child(1) {
    top: var(--sm-header-height);
  }

  .ImagePreview {

    height: calc(100vh - var(--sm-header-height));
  }
}

@media (--sm-viewport) {

  .ImagePreview-drawer > div:nth-child(1) {
    top: var(--sm-header-height);
  }

  .ImagePreview {

    height: calc(100vh - var(--sm-header-height));
  }
}
