.Searchbar {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-width: 60rem;
  padding: 2rem;
}

.Searchbar-input {
  flex: 1;
}

.Searchbar-input input {

  color: var(--dark-transparent-overlay-color);
  font-family: var(--primary-font-family);
  font-size: var(--m-title-font-size);
  letter-spacing: 0.0075em;
  line-height: 1.6;
  margin-left: 1rem;
}

.Searchbar-paper {

  display: flex;
  height: 4.1875rem;
  padding: 0.5rem;
}

.Searchbar-clearButton {
  color: var(--warning-color) !important;
}

/**
 *  For Header Variant
 */

.Searchbar--forHeader {

  display: flex;
  flex: 2;
  justify-content: flex-end;
  margin-right: -1.25rem;
  padding: 0.3125rem;
}

.Searchbar-input--forHeader input {

  color: var(--dark-transparent-overlay-color);
  font-family: var(--primary-font-family);
  font-size: var(--m-title-font-size);
  letter-spacing: 0.0075em;
  line-height: 1.6;
  margin-left: 1rem;
}

.Searchbar-paper--forHeader {

  display: flex;
}

@media (--iphone-x-viewport) {

  .Searchbar {

    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 5.625rem;
    margin-top: -0.3125rem;
    min-width: initial;
    padding: 0.3125rem;
    width: 100%;
  }

  .Searchbar--forHeader {

    margin-right: 0;
  }

  .Searchbar-paper {
    margin: 0.625rem;
  }

  .Searchbar-paper--forHeader {

    padding: 0 0.3125rem;
  }

  .Searchbar-paper button,
  .Searchbar-paper--forHeader button {

    padding: 0 !important;
  }
}

@media (--sm-viewport) {

  .Searchbar {

    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 5.625rem;
    margin-top: -0.3125rem;
    min-width: initial;
    padding: 0.3125rem;
  }

  .Searchbar--forHeader {

    margin-right: 0;
  }

  .Searchbar-paper {
    margin: 0.625rem;
  }

  .Searchbar-paper--forHeader {

    padding: 0 0.3125rem;
  }

  .Searchbar-paper button,
  .Searchbar-paper--forHeader button {

    padding: 0 !important;
  }
}

@media (--md-viewport) {

  .Searchbar {

    min-width: 95vw;
  }
}
