.Searchbar {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-width: 900px;
  padding: 2rem;
}

.Searchbar-input {
  flex: 1;
}

.Searchbar-input input {

  color: rgb(0, 0, 0, 0.8);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 0.0075em;
  line-height: 1.6;
  margin-left: 1rem;
}

.Searchbar-paper {

  display: flex;
  padding: 0.5rem;
}

.Searchbar .Searchbar-clearButton{ 
  color: #f00;
}

.Searchbar-paper svg {
  font-size: 2rem;
}
