.Searchbar {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 67px;
  min-width: 900px;
  padding: 2rem;
}

.Searchbar-input {
  flex: 1;
}

.Searchbar-input input {

  color: rgb(0, 0, 0, 0.8);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  letter-spacing: 0.0075em;
  line-height: 1.6;
  margin-left: 1rem;
}

.Searchbar-paper {

  display: flex;
  height: 67px;
  padding: 0.5rem;
}

.Searchbar-clearButton {
  color: #f00 !important;
}

.Searchbar-paper svg {
  font-size: 2rem;
}

/**
 *  For Header Variant
 */

.Searchbar--forHeader {

  display: flex;
  flex: 2;
  justify-content: flex-end;
  margin-right: -20px;
  padding: 5px;
}

.Searchbar-input--forHeader input {

  color: rgb(0, 0, 0, 0.8);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3em;
  letter-spacing: 0.0075em;
  line-height: 1.6;
  margin-left: 1rem;
}

.Searchbar-paper--forHeader {

  display: flex;
}

@media (--iphone-x-viewport) {

  .Searchbar {

    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 90px;
    margin-top: -5px;
    min-width: initial;
    padding: 5px;
    width: 100%;
  }

  .Searchbar--forHeader {

    margin-right: 0;
  }

  .Searchbar-paper {
  
    margin: 10px;
  }

  .Searchbar-paper--forHeader {

    padding: 0 5px;
  }

  .Searchbar-paper button,
  .Searchbar-paper--forHeader button {

    padding: 0 !important;
  }
}
