.SideMenu {
  height: 100vh;
}

.SideMenu > div:first-child {

  top: 66px;
}

.SideMenu div[role="document"] {

  height: calc(100vh - 127px);
  margin-top: 70px;
}

.SideMenu-title {

  font-family: "Courier New", Courier, monospace;
  font-size: 1.35rem;
  margin-bottom: 1rem;
}

.SideMenu-Content {

  padding: 0.5rem;
  width: 20rem;
}

.SideMenu-safeSearch {
  width: 100%;
}

.SideMenu-buttonsContainer {

  bottom: 10px;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  width: 100%;
}

.SideMenu-buttonsContainer button {

  margin-left: 0.5rem;
}

.SideMenu-saveButton {

  background-color: #0063dc !important;
  color: white !important;
}

.SideMenu-cancelButton {

  background-color: #ff0084 !important;
  color: white !important;
}

.SideMenu-input {

  margin-bottom: 1rem !important;
  width: 100%;
}

@media (--sm-viewport) {

  .SideMenu div[role="document"] {

    height: calc(100vh - 127px);
    margin-top: 77px;
  }

  .SideMenu-Content {

    width: 100vw;
  }

  .SideMenu-title {

    font-size: 1.5rem;
  }

  .SideMenu div[role="document"] {

    background-color: white;
  }

  .SideMenu > div:first-child {

    height: calc(100vh - 76px);
    top: 76px;
  }

  .SideMenu-buttonsContainer {

    right: unset;
    width: calc(100vw - 1rem);
  }
}
