.SideMenu {

  height: 100vh;
}

.SideMenu > div:first-child {

  top: var(--md-header-height);
}

.SideMenu div[role="document"] {

  height: calc(100vh - var(--md-header-height) - var(--bottom-offset));
  margin-top: var(--md-header-height);
}

.SideMenu-title {

  font-family: var(--primary-font-family);
  font-size: var(--s-title-font-size);
  margin-bottom: 1rem;
}

.SideMenu-Content {

  padding: 0.5rem;
  width: 20rem;
}

.SideMenu-safeSearch {
  width: 100%;
}

.SideMenu-buttonsContainer {

  bottom: 0.625rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  width: 100%;
}

.SideMenu-buttonsContainer button {

  margin-left: 0.5rem;
}

.SideMenu-saveButton {

  background-color: var(--primary-color) !important;
  color: white !important;
}

.SideMenu-cancelButton {

  background-color: var(--secondary-color) !important;
  color: white !important;
}

.SideMenu-input {

  margin-bottom: 1rem !important;
  width: 100%;
}

@media (--sm-viewport) {

  .SideMenu div[role="document"] {

    height: calc(100vh - var(--sm-header-height) - var(--bottom-offset));
    margin-top: var(--sm-header-height);
  }

  .SideMenu-Content {

    width: 100vw;
  }

  .SideMenu-title {

    font-size: var(--m-title-font-size);
  }

  .SideMenu div[role="document"] {

    background-color: white;
  }

  .SideMenu > div:first-child {

    height: calc(100vh - var(--sm-header-height));
    top: var(--sm-header-height);
  }

  .SideMenu-buttonsContainer {

    right: unset;
    width: calc(100vw - 1rem);
  }
}
