.NavHeader {

  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.NavHeader-title {

  color: rgb(0, 0, 0, 0.8);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 0.0075em;
  line-height: 1.6;
  margin-left: 1rem;
}

.NavHeader-subtitle {

  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.NavHeader-toolbar {

  display: flex;
}
